1. Create a Dictionary:
o Create a dictionary to store the names and ages of five people. Print the
dictionary.

In [1]:
dictionary={"Hamza":"13","talha":"12","usama":"11","hassan":"28","komal":"31"}
print(dictionary)

{'Hamza': '13', 'talha': '12', 'usama': '11', 'hassan': '28', 'komal': '31'}

2. Accessing Values:
o Given a dictionary with student names as keys and their grades as values, print the
grade of the student named &quot;Alice&quot;:
students_grades = {&quot;John&quot;: &quot;A&quot;, &quot;Alice&quot;: &quot;B&quot;, &quot;Bob&quot;: &quot;C&quot;,
&quot;Diana&quot;: &quot;A&quot;}

In [2]:
dictionary={"Hamza":"13","talha":"12","usama":"11","hassan":"28","komal":"31"}
print(dictionary["Hamza"])

13

3. Update a Dictionary:
o Update the age of one person in the dictionary you created in Exercise 1. Print the
updated dictionary.

In [3]:
dictionary["Hamza"]="14"
print(dictionary)

{'Hamza': '14', 'talha': '12', 'usama': '11', 'hassan': '28', 'komal': '31'}

4. Add New Key-Value Pairs:
o Add a new person to the dictionary created in Exercise 1. Print the updated
dictionary.

In [4]:
dictionary["ali"]="20"
print(dictionary)

{'Hamza': '14', 'talha': '12', 'usama': '11', 'hassan': '28', 'komal': '31', 'ali': '20'}

5. Delete a Key-Value Pair:
o Remove one person from the dictionary created in Exercise 1. Print the updated
dictionary.

In [5]:
dictionary.pop("Hamza")
print(dictionary)

{'talha': '12', 'usama': '11', 'hassan': '28', 'komal': '31', 'ali': '20'}

6. Check for Key Existence:
o Check if a specific key (name) exists in the dictionary from Exercise 1. Print an
appropriate message based on whether the key exists or not.

In [7]:
get_data=dictionary.get("Hamza")
if get_data==None:
    print("key does not exist")
else:
    print("key exists")

key does not exist

7. Iterate Through a Dictionary:
o Iterate through the dictionary from Exercise 1 and print each key-value pair.

In [8]:
for key,value in dictionary.items():
    print(key,value)

talha 12
usama 11
hassan 28
komal 31
ali 20

8. Dictionary Length:
o Find and print the number of key-value pairs in the dictionary from Exercise 1.

In [9]:
dictionary_length=len(dictionary)
print(dictionary_length)

5

9. Copy a Dictionary:
o Create a copy of the dictionary from Exercise 1. Modify the copy and print both
the original and the modified copy.

In [10]:
copy_dictionary=dictionary.copy()
copy_dictionary["ali"]="21"
print(dictionary)
print(copy_dictionary)

{'talha': '12', 'usama': '11', 'hassan': '28', 'komal': '31', 'ali': '20'}
{'talha': '12', 'usama': '11', 'hassan': '28', 'komal': '31', 'ali': '21'}

10. Nested Dictionary:
o Create a dictionary that stores the information of three people. Each person should
have a nested dictionary containing their age, address, and phone number. Print
the nested dictionary.

In [11]:
nested_dictionary={}
nested_dictionary["hamza"]={"age":"14","address":"islamabad","phone":"03456789012"}
nested_dictionary["talha"]={"age":"12","address":"lahore","phone":"03456789012"}
nested_dictionary["usama"]={"age":"11","address":"karachi","phone":"03456789012"}
print(nested_dictionary)

{'hamza': {'age': '14', 'address': 'islamabad', 'phone': '03456789012'}, 'talha': {'age': '12', 'address': 'lahore', 'phone': '03456789012'}, 'usama': {'age': '11', 'address': 'karachi', 'phone': '03456789012'}}

11. Merge Dictionaries:
o Merge two dictionaries into one. Print the result.

In [12]:
dictionary1={"Hamza":"13","talha":"12","usama":"11","hassan":"28","komal":"31"}
dictionary2={"ali":"20","usama":"10"}
dictionary1.update(dictionary2)
print(dictionary1)

{'Hamza': '13', 'talha': '12', 'usama': '10', 'hassan': '28', 'komal': '31', 'ali': '20'}

12. Dictionary of Lists:
o Create a dictionary where the keys are the names of students and the values are
lists of their grades. Print the dictionary.

In [13]:
dictionary={"Hamza":["A","B","C"],"talha":["A","B","C"],"usama":["A","B","C"],"hassan":["A","B","C"],"komal":["A","B","C"]}
print(dictionary)

{'Hamza': ['A', 'B', 'C'], 'talha': ['A', 'B', 'C'], 'usama': ['A', 'B', 'C'], 'hassan': ['A', 'B', 'C'], 'komal': ['A', 'B', 'C']}

13. Dictionary Comprehension:
o Use dictionary comprehension to create a dictionary where the keys are numbers
from 1 to 10 and the values are the squares of these numbers.

In [14]:
dictionary={i:i**2 for i in range(1,11)}
print(dictionary)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

14. From User Input:
o Write a script to create a dictionary by taking name and age as input from the user
for five people. Print the dictionary.

In [15]:
dictionary={}
for i in range(5):
    name=input("enter name")
    age=int(input("enter age"))
    dictionary[name]=age
print(dictionary)

enter namehamza
enter age12
enter nametalha
enter age11
enter nameusama
enter age10
enter namehassan
enter age28
enter namekomal
enter age30
{'hamza': 12, 'talha': 11, 'usama': 10, 'hassan': 28, 'komal': 30}

15. Count Occurrences:

o Given a string, count the occurrences of each character using a dictionary. Print
the dictionary.

In [16]:
string="hamza"
dictionary={}
for i in string:
    if i in dictionary:
        dictionary[i]+=1
    else:
        dictionary[i]=1
print(dictionary)

{'h': 1, 'a': 2, 'm': 1, 'z': 1}

16. Reverse Lookup:
o Given a dictionary of names and ages, write a script to find and print the names of
people with a specific age.

In [18]:
dictionary={"Hamza":"13","talha":"12","usama":"11","hassan":"28","komal":"31"}
age=input("enter age")
for key,value in dictionary.items():
    if value==age:
        print(key)

enter age12
talha

17. Sum Values:
o Given a dictionary with numerical values, calculate and print the sum of the
values.

In [19]:
dictionary={"Hamza":"13","talha":"12","usama":"11","hassan":"28","komal":"31"}
sum=0
for value in dictionary.values():
    sum+=int(value)
print(sum)

95

18. Top Student:
o Given a dictionary of student names and their grades, find and print the name of
the student with the highest grade.

In [21]:
dictionary_student = {"Hamza": "A", "Talha": "B", "Usama": "C", "Hassan": "D", "Komal": "E"}

# Initialize with lowest possible grade
max_grade = 'F'  # Assuming grades are A, B, C, D, E
max_student = ""

for key, value in dictionary_student.items():
    if value < max_grade:  # 'A' is the highest grade and 'E' is the lowest
        max_grade = value
        max_student = key

print(max_student)

Hamza

19. Unique Values:
o Write a script to print all unique values in a dictionary.

In [22]:
unique_values = set()

for value in dictionary.values():
    unique_values.add(value)

print(unique_values)

{'28', '12', '31', '13', '11'}

20. Default Dictionary:
o Use collections.defaultdict to create a dictionary that automatically assigns
a default value of 0 to any key that does not exist. Add some values and print the
dictionary.

In [ ]:
from collections import defaultdict

# Create a defaultdict with default value 0
default_dict = defaultdict(int)

# Add some values to the dictionary
default_dict['a'] = 5
default_dict['b'] = 10

# Access a key that does not exist
print(f"Value of key 'c' before adding: {default_dict['c']}")  # This will add 'c' with a default value of 0

# Print the dictionary
print(default_dict)

21. Dictionary from Two Lists:
o Create a dictionary from two lists: one containing keys and the other containing
values. Print the dictionary.

In [23]:
new_dictionary={}
keys=["hamza","talha","usama","hassan","komal"]
values=["13","12","11","28","31"]
for key,value in zip(keys,values):
    new_dictionary[key]=value
print(new_dictionary)

{'hamza': '13', 'talha': '12', 'usama': '11', 'hassan': '28', 'komal': '31'}

22. Group by Category:
o Given a list of products, each with a name and category, group the products by
category in a dictionary and print it.

In [24]:
list_products=[{"name":"product1","category":"category1"},{"name":"product2","category":"category2"},{"name":"product3","category":"category1"},{"name":"product4","category":"category2"}]
dictionary={}
for product in list_products:
    category=product["category"]
    if category in dictionary:
        dictionary[category].append(product["name"])
    else:
        dictionary[category]=[product["name"]]
print(dictionary)

{'category1': ['product1', 'product3'], 'category2': ['product2', 'product4']}

23. Dictionary to List:
o Convert a dictionary into two lists: one for keys and one for values. Print both
lists.

In [25]:
dictionary={"hamza":"13","talha":"12","usama":"11","hassan":"28","komal":"31"}
keys=[]
values=[]
for key,value in dictionary.items():
    keys.append(key)
    values.append(value)
print(keys)
print(values)

['hamza', 'talha', 'usama', 'hassan', 'komal']
['13', '12', '11', '28', '31']

24. Filter Dictionary:
 Write a script to filter a dictionary by retaining only those key-value pairs where the
value is greater than a specified threshold. Print the filtered dictionary.

In [27]:
dictionary={"hamza":"13","talha":"12","usama":"11","hassan":"28","komal":"31"}
threshold=20
filtered_dictionary={}
for key,value in dictionary.items():
    if int(value)>threshold:
        filtered_dictionary[key]=value
print(filtered_dictionary)

{'hassan': '28', 'komal': '31'}

25. Sorted Dictionary:
 Write a script to sort a dictionary by its keys and then by its values, and print the
sorted dictionary.

In [30]:
dictionary={"hamza":"13","talha":"12","usama":"11","hassan":"28","komal":"31"}
sorted_dictionary=sorted(dictionary.values())
print(sorted_dictionary)
sorted_dictionary=sorted(dictionary.keys())
print(sorted_dictionary)

['11', '12', '13', '28', '31']
['hamza', 'hassan', 'komal', 'talha', 'usama']

26. Create a Set:
o Create a set containing the names of five fruits. Print the set.

In [34]:
set1={"apple","banana","cherry","orange","mango"}
print(set)

{'cherry', 'strawberry', 'banana', 'apple', 'mango', 'orange'}

27. Add an Element:
o Add a new fruit to the set you created in Exercise 1. Print the updated set.

In [38]:
# Assuming this is the set of fruits from Exercise 1
fruits = {"apple", "banana", "cherry"}

# Add a new fruit to the set
fruits.add("orange")

# Print the updated set
print(fruits)

{'banana', 'apple', 'cherry', 'orange'}

28. Remove an Element:
o Remove a fruit from the set you created in Exercise 1. Print the updated set.

In [39]:
fruits.remove("banana")
print(fruits)

{'apple', 'cherry', 'orange'}

29. Check Membership:
o Write a script to check if a specific fruit is in the set created in Exercise 1. Print an
appropriate message.

In [40]:
if "apple" in fruits:
    print("apple is in the set")
else:
    print("apple is not in the set")

apple is in the set

30. Union of Sets:
o Create two sets of fruits and find their union. Print the resulting set.

In [41]:
set1={"apple","banana","cherry"}
set2={"orange","mango","pineapple"}
union_set=set1.union(set2)
print(union_set)

{'cherry', 'pineapple', 'banana', 'apple', 'mango', 'orange'}

31. Intersection of Sets:
o Create two sets of fruits and find their intersection. Print the resulting set.

In [42]:
intersection=set1.intersection(set2)
print(intersection)

set()

32. Difference of Sets:
o Create two sets of fruits and find the difference between them. Print the resulting
set.

In [43]:
difference=set1.difference(set2)
print(difference)

{'banana', 'apple', 'cherry'}

33. Symmetric Difference of Sets:
o Create two sets of fruits and find their symmetric difference. Print the resulting
set.

In [44]:
symmetric_difference=set1.symmetric_difference(set2)
print(symmetric_difference)

{'cherry', 'banana', 'apple', 'pineapple', 'orange', 'mango'}

34. Subset Check:
o Write a script to check if one set is a subset of another. Print an appropriate
message.

In [45]:
if set1.issubset(set2):
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is not a subset of set2

35. Superset Check:
o Write a script to check if one set is a superset of another. Print an appropriate
message.

In [47]:
if set2.issuperset(set1):
    print("set2 is a superset of set1")
else:
    print("set2 is not a superset of set1")

set2 is not a superset of set1

36. Iterate Through a Set:
o Write a script to iterate through a set and print each element.

In [48]:
for i in set1:
    print(i)

banana
apple
cherry

37. Set Length:
o Write a script to find and print the number of elements in a set.

In [49]:
length_set=len(set1)
print(length_set)

3

38. Remove Duplicates:
o Given a list of numbers, write a script to remove duplicates by converting the list
to a set. Print the resulting set.

<class 'set'>
{1, 2, 3, 4, 5}